<%= simple_form_for @product do |f| %>
  <%= f.input :name, placeholder: "Google", label: "Product Name" %>
  <%= f.input :url, placeholder: "https://google.com", label: "URL" %>
  <%= f.input :tagline, placeholder: "Don't be evil", label: "Tagline" %>
  <%= f.input :category, collection: ["tech", "education", "design"], prompt: "Choose a category" %>
  <%= f.input :photo, as: :attachinary %>
  <%= f.button :submit, "Submit", class: "btn btn-primary" %>
  <%= link_to "Back", products_path, class: "btn btn-success" %>
<% end %>



<!-- <form action="/products" method="post">

  <div class="form-group">
    <label for="name">Nom de produit:</label>
    <input type="text" name="product[name]" class="form-control" placeholder="Google" id="name">
  </div>

  <div class="form-group">
    <label for="url">URL du produit:</label>
    <input type="text" name="product[url]" class="form-control" placeholder="https://google.com" id="url">
  </div>

  <input type="submit" value="Soumettre" class="btn btn-primary">

</form> -->
