<div class="text-center">
    <h1>Le détail du produit</h1>

    <h2>
        <%= @product.name %>
    </h2>

    <h3>
        <%= link_to @product.url, @product.url, target: :_blank %>
    </h3>

    <p>
        <%= link_to "Edit", edit_product_path(@product), class: "btn btn-warning" %>
        <%= link_to "Delete", product_path(@product), method: :delete, class: "btn btn-danger"%>
    </p>

    <p>
        <%= link_to "Back", products_path, class: "btn btn-primary" %>
    </p>
</div>
